
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */